.clearfix:after {
    visibility: hidden;
    display: block;
    font-size: 0;
    content: " ";
    clear: both;
    height: 0;
}
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack */

a {
    color: #002458;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
ol {
    color: #333;
    margin: 0 0 10px;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    margin-top: 40px;
}

main {
    float: left;
    width: 65%;
}